<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Good Reads</title>
</head>
<body>
<div>
<h2>Deciding what to read next?</h2>
<p>You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
<p>Chances are your friends are discussing their favorite (and least favorite) books on Goodreads.</p>
</div>
<div>
    <h3>Search and browse books</h3>
    <input Enter he title of the book/>
    <button>Search</button>
</div>

</body>
</html>